header#about
  .page-header
    h1= t("nav.project")
  .row
    .span8
      h4= t("main.project.idea.header")
      != t("main.project.idea.content")
    .span4
      h4= t("main.project.tech.header")
      != t("main.project.tech.content")

#container_attention
  section#attention
    .page-header
      h1= t("main.attention.header")
    .row
      .span12
        != t("main.attention.content")

#container_member
  section#member
    .page-header
      h1= t("nav.team")
    .row
      .span3
        center
          h4= t("main.team.lisa.name")
          img(src="https://secure.gravatar.com/avatar/e789a2561890fea7e0e505a2bfa1fa76")
          p= t("main.team.lisa.role")
      .span3
        center
          h4!= t("main.team.laura.name")
          img(src="http://portfolio2.s3.amazonaws.com/system/users/954/avatar/avatar.jpg", width="80", height="80")
          p= t("main.team.laura.role")
      .span3
        center
          h4= t("main.team.sebastian.name")
          img(src="https://secure.gravatar.com/avatar/b28edaf0acc7933ab2af0496bb0137af")
          p= t("main.team.sebastian.role")
      .span3
        center
          h4= t("main.team.michael.name")
          img(src="https://secure.gravatar.com/avatar/73737c93a992456c14e4785f46019af5")
          p= t("main.team.michael.role")

#container_impressum
  section#impressum
    .page-header
        h1= t("nav.imprint")
    .row
      .span8
        h4= t("main.imprint.webcar.header")
        p= t("main.imprint.webcar.content")
        h4= t("main.imprint.team.header")
        b= t("main.imprint.team.concept.header")
        p= t("main.imprint.team.concept.content")
        b= t("main.imprint.team.realisation.header")
        p= t("main.imprint.team.realisation.content")
        b= t("main.imprint.team.design.header")
        p= t("main.imprint.team.design.content")

      .span4
        h4= t("nav.imprint")
        != t("main.imprint.contact")