header#container_signup
  .page-header
    h1= t("signup.header")
  .row
    .span10.offset1
      form(name="signup", class="well form-horizontal")
        fieldset
          legend= t("signup.legend")
            .control-group
              label(for="email", class="control-label")= t("signup.email.text")
              .controls
                input(type="email", name="mail", class="input-xlarge", id="mail", ng-model="user.email", required)
                span(ng-show="signup.mail.$error.required", class="help-inline")= t("signup.email.required")
                span(ng-show="signup.mail.$error.email", class="help-inline")= t("signup.email.invalid")
            .control-group
              label(for="username", class="control-label")= t("signup.user.text")
              .controls
                input(type="text", ng-minlength="5", pattern=".{5,}", name="name",
                  class="input-xlarge", id="name", ng-model="user.name", required)
                span(ng-show="signup.name.$error.required", class="help-inline")= t("signup.user.required")
                span(ng-show="signup.name.$error.minlength", class="help-inline")= t("signup.email.invalid")
            .control-group
              label(for="password", class="control-label")= t("singup.password.text")
              .controls
                input(type="password", ng-minlength="5", pattern=".{5,}", name="password",
                  class="input-xlarge", id="password", ng-model="user.password", required)
                span(ng-show="signup.password.$error.required", class="help-inline")= t("signup.password.required")
                span(ng-show="signup.password.$error.minlength", class="help-inline")= t("signup.password.short")
            .control-group
              label(for="repeat-password", class="control-label")= t("signup.repeat.text")
              .controls
                input(type="password", ng-minlength="5", pattern=".{5,}", name="password_repeat",
                  class="input-xlarge", id="password_repeat", ng-model="user.password_repeat",
                  required, same-as="user.password")
                span(ng-show="signup.password_repeat.$error.required", class="help-inline")= t("signup.repeat.required")
                span(ng-show="signup.password_repeat.$error.minlength", class="help-inline")= t("signup.repeat.short")
                span(ng-show="signup.password_repeat.$error.sameAs", class="help-inline")= t("signup.repeat.incorrect")
            .control-group
              label(for="avatar", class="control-label")= t("signup.avatar.text")
              .controls
                input(type="url", name="avatar",
                  class="input-xlarge", id="avatar", ng-model="user.avatar")
                span(ng-show="signup.avatar.$error.url", class="help-inline")= t("signup.avatar.incorrect")

            .form-actions
              a(href="", class="btn btn-inverse btn-large", ng-click="update(user)", ng-disabled="signup.$invalid")= t("signup.buttons.signup")
              a(href="", class="btn btn-large", ng-click="close()")= t("signup.buttons.cancel")